* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.App {
  text-align: center;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-section {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 50vh;
}

.table-container {
  /* border: 1px solid black; */
  margin: auto;
}
